{% extends "base.html" %}
{% block title %}About Mic College Of Technology{% endblock %}
{% block content %}
    <h2 class="text-center">About Mic College Of Technology</h2>

    <div class="about-section">
        <div class="media-container">
            <img src="{{ url_for('static', filename='images/about_collegee.jpg') }}" alt="Mic College Of Technology Campus 2" class="about-image">
        </div>
        
        <h3>Leaving Footprints on the Sands of Time</h3>
        <h4>The Genesis</h4>
        <p>
            MIC Odyssey began in 2002 in Kanchikacherla, a village that boasts of idyllic beauty and serene atmosphere suited for scholastic pursuits. Right from its inception, the College has crossed new vistas making inroads into Quality Education under the dynamic stewardship of our Visionary Chairman Dr. MV Ramana Rao, M.E., Ph.D., Hyderabad.
        </p>
        
        <h4>The Transition</h4>
        <p>
            MIC’s tryst with destiny began in 2002 with three branches of B.Tech., (ECE, CSE and EEE). In 2004, Mechanical Engineering branch in B. Tech., MCA & MBA courses were added. The College was granted permission to run M.Tech., in Machine Design, PE&D, VLSI&ES and CSE in 2012. SBTET approved diploma courses in 2012-13 with two branches: EEE and ME. In 2013-14, two more branches in diploma viz., CE and ECE were approved.
        </p>
        <p>
            In 2012, permission was accorded for B. Tech., in Civil Engineering branch and in 2017, for B.Tech., in Information Technology. Realizing the need to tap the resources of the trending courses, MIC has sought permission to offer B. Tech., in Artificial Intelligence & Data Science (AI & DS) and B. Tech., in Artificial Intelligence & Machine Learning (AI & ML), which were duly approved by the AICTE to be run from the year 2021. From 2021, a diploma in Computer Engineering was approved by the SBTET. College was permitted to offer MCA from the year 2004 and MBA from 2007. The College was approved by the All India Council for Technical Education (AICTE), New Delhi and is permanently affiliated to the JNTUK, Kakinada.
        </p>
    </div>
{% endblock %}
